.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #445663; /* Teal */
    color: #FFFFFF; /* White */
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-to-top-button:hover {
    background-color: #006666; /* Darker Teal */
    transform: scale(1.1);
}
